.promo {
  padding: 20px 40px 0;
}

.promo__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0 30px;
  border-radius: 10px;
  background: #272727;
}

.promo__title {
  margin: 0;
  padding: 0;
  margin-bottom: 148px;
  max-width: 730px;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  color: #fff;
  text-align: center;
}

.promo__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__link {
  box-sizing: border-box;
  display: block;
  min-width: 90px;
  padding: 10px 17px;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  border-radius: 10px;
  background-color: #303030;
  text-decoration: none;
}

.promo__link:hover {
  opacity: 0.7;
}

.promo__item {
  margin-right: 8px;
}

.promo__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 889px) {
  .promo {
    padding: 20px 20px 0;
  }

  .promo__content {
    padding: 347px 0 30px;
  }

  .promo__title {
    margin-bottom: 314px;
    max-width: 663px;
    font-size: 40px;
    line-height: 130%;
  }
}

@media screen and (max-width: 684px) {
  .promo {
    padding: 10px 14px 0;
  }

  .promo__content {
    padding: 220px 0 30px;
  }

  .promo__title {
    margin-bottom: 213px;
    font-size: 29px;
    line-height: 127.5%;
    letter-spacing: -1.16px;
  }

  .promo__item {
    margin-right: 6px;
  }

  .promo__link {
    min-width: 82px;
    padding: 5px 12px;
    font-size: 10px;
    line-height: 160%;
    border-radius: 6px;
    text-align: center;
  }
}
